@font-face {
    font-family: 'Baloo 2';
    src: url('../fonts/Baloo2-Bold.woff2') format('woff2'),
        url('../fonts/Baloo2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Foo';
    src: url('../fonts/Foo-Regular.woff2') format('woff2'),
        url('../fonts/Foo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

